.vscode/**
.vscode-test/**
node_modules/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.vscode/**
.vscode-test/**
.vsc-extension-quickstart.md
webpack.config.js
.vscode-test.mjs
**/*.ts
**/*.map
**/tsconfig.json
**/eslint.config.mjs
node_modules/**
.gitignore
.yarnrc
test/**
**/*.test.ts
